*.o
*~
*.mp4
*.bmp
*.a
*.lib
*.pdf
ggoraytracer/main*
ggo2deditor/debug
ggo2deditor/release
lib
include
*.sdf
*.opensdf
*.exe
*.suo
Debug
x64
gmon.out
*.stackdump
*.user
Thumbs.db
x64
ggp.VC.opendb
*.psess
*.vsp
*.ipch
*.tlog
ggp.VC.VC.opendb
ggp.VC.db
.vs
