*.o
*~
*.mp4
*.bmp
ggocomputart/ggocomputartbitmaps*
ggocomputart/ggocomputartanim*
ggoraytracer/main*
lib
include
*.sdf
*.opensdf
*.exe
*.suo
Debug
x64
gmon.out
*.stackdump
*.user
Thumbs.db
x64
ggp.VC.opendb
*.psess
*.vsp
*.ipch
ggp.VC.VC.opendb
ggp.VC.db
